<% @r.each do |r| %>
  <div>
    <div class="balloon" style="margin-top: 0px; margin-bottom: 25px;">
      <div class="stu_card_content">
        <div class="stu_card_content_subject" style="padding-top: 6px;">
          <p class="stu_card_content_subject_circle" style="margin: auto;"><%= r.subject[0] %></p>
        </div>
        <div class="stu_card_content_text">
          <div>
            <span class= "stu_card_content_text_subject" style="font-size: 12px;">学習開始日時: </span>
            <span style="font-size: 12px;"><%= l r.created_at, format: :short%></span>
          </div>
          <div>
            <span class= "stu_card_content_text_subject" style="font-size: 12px;">教材: </span>
            <span style="font-size: 12px;"><%= r.study_text %></span>
          </div>
        </div>
      </div>
      <div class="stu_card_comment">
        <p style="font-size: 12px;margin-bottom: 5px;"><%= r.comment %></p>
      </div>
      <div class="stu_card_content_time">
        <div style="background-color: #0066FF;margin: 0 25%;border-radius: 15px;">
          <p style="font-size: 13px;padding: 5px 0px;margin: 0 20%;color: white;">学習時間<br><%= l r.study_time, format: :record%></p>
        </div>
      </div>
    </div>
  </div>
<% end %>