<%= javascript_pack_tag 'test' %>
<%= javascript_pack_tag 'barGraph' %>
<%= javascript_pack_tag 'home/ajax' %>
<%= javascript_pack_tag 'home/input' %>


<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hi! <%=@current_user.user_name %></strong>  You login as Student.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div  class="container-lg">
  <div class="first-sectino-wrapper">
    <sectino class="choise-school-section">
      <div>志望校</div>
      <ul>
        <li id="choise-school-ajax-request">
          <%= form_with url:"/school_choise_update" do |f| %>
            <%= f.text_field :school, value: @sh.school_choise, disabled: true, id: "school-input" %>
            <button type="button" id="choise-school-edit" class="btn btn-primary btn-sm">編集</button>
            <%= f.submit '更新', id: "choise-school-submit" %>  
          <% end %>
        </li>
      </ul>
    </sectino>
    <section class="goal-section">
      <div>今月の目標</div>
      <ul>
        <li id="goal-ajax-request">
          <%= form_with url:"/goal_update" do |f| %>
            <%= f.text_field :goal, value: @mg.goal, disabled: true, id: "goal-input" %>
            <button type="button" id="goal-edit" class="btn btn-primary btn-sm">編集</button>
            <%= f.submit '更新', id: "goal-submit" %>  
          <% end %>
        </li>
      </ul>
    </section>
  </div>
  <div class="second-section-wrapper">
    <div class= "teacher-icon">
      <i class="navbar-brand fas fa-user-circle" style="font-size: 40px;"></i>
      <span class="message-teacher-name" style="font-size: 12px">
        <span><%= @m.teacher.user_name %>先生</span>
      </span>
    </div>
    <div class="coment-balloon">
      <%= @m.comment %>
    </div>
  </div>
  <div class="third-section-wrapper">
    <table>
      <tr>
        <th>今日</th>
        <th>今週</th>
        <th>今月</th>
        <th>合計</th>
      </tr>
      <tr>
        <td><%= @current_student.today_study_time %>分</td>
        <td><%= @current_student.weekly_study_time %>分</td>
        <td><%= @current_student.monthly_study_time %>分</td>
        <td><%= @current_student.all_study_time %>分</td>
      </tr>
    </table>
  </div>
  <div class="fourth-sectino-wrapper">
    <div id="study-data" data-json="<%= @current_student.ten_days_study_time.to_json %>"></div>
    <div class="wrap-chart">
      <div class="chart-container" style="position: relative; width: 100%; height:  100%;">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  register_callback();
</script>
